.BreadCrumbs {
  display: flex;
  align-items: center;
  align-self: stretch;
  gap: var(--space-sm);
  margin-bottom: var(--space-md);
  height: var(--space-lg);

  @include breakpoint('md') {
    gap: 0.4rem;
    height: var(--space-md);
  }

  @include breakpoint('sm') {
    gap: 0.2rem;
  }

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}

// =============================

.BreadCrumbs__item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: var(--space-md);

  color: var(--additional-text-color);
  font-style: normal;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 1;
  text-decoration: none;

  svg {
    margin-top: -2px;
  }

  @include breakpoint('md') {
    gap: 0.25rem;
  }
}

a.BreadCrumbs__item {
  &:hover {
    color: var(--green);
  }
}

span.BreadCrumbs__item {
  cursor: default;
  color: var(--white);
}

.BreadCrumbs__text {
  max-width: 350px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @include breakpoint('md') {
    max-width: 290px;
  }

  @include breakpoint('sm') {
    max-width: 200px;
  }
}

// ===================

.BreadCrumbs__separator {
  color: var(--additional-text-color);
}
