.Group {
  // display: grid;
  // grid-template-columns: 1fr 2fr;
  border-top: 1px solid var(--additional-text-color);
  padding: var(--space-md) 0;

  & + & {
    margin-top: var(--space-md);
  }
}

.Group__title {
  margin-bottom: var(--space-md);
  border-left: 4px solid var(--green);
  padding-left: var(--space-sm);
  font-weight: 500;
  // color: var(--additional-text-color);
  // font-weight: 600;
  // font-size: 0.875rem;
  font-size: 1.17rem;
}
