.Card {
  @include container();
  padding: 0;

  position: sticky;
  top: var(--space-md);

  @include breakpoint('lg') {
    display: flex;
    flex-direction: column;
    position: static;
    gap: var(--space-md);
    max-width: 680px;
    width: 100%;
  }
  @include breakpoint('md') {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.Card__cover {
  position: relative;
  margin-bottom: var(--space-md);
  border-radius: var(--space-sm);
  background-color: var(--additional-color);
  padding-bottom: 50%;
  width: 100%;
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @include breakpoint('lg') {
    margin-bottom: 0;
  }

  @include breakpoint('md') {
    margin-bottom: var(--space-md);
  }
}

.Card__title {
  margin-bottom: 0.5rem;
  color: var(--white);
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.1;

  @include breakpoint('lg') {
    font-size: 1.5rem;
  }

  @include breakpoint('md') {
    margin-bottom: 0.25rem;
  }
}

.Card__description {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
