.DangerItem {
  display: flex;
  align-items: center;
  gap: var(--space-md);
  padding: var(--space-md);

  & + & {
    border-top: 2px dashed var(--red);
  }

  @include breakpoint('md') {
    flex-direction: column;
    align-items: stretch;
  }
}

.DangerItem__text {
  flex-grow: 1;
}

.DangerItem__title {
  margin-bottom: 0.25em;
  font-size: 1rem;
}

.DangerItem__desc {
  color: var(--additional-text-color);
  font-weight: 400;
  font-size: 0.85rem;

  p {
    margin-bottom: 0.5em;
  }
}

.DangerItem__button {
  flex-shrink: 0;
  white-space: nowrap;
}
