.Orders {
  @include breakpoint('sm') {
    border-radius: 0;
    padding: var(--space-md) var(--space-sm);
  }
}

.Orders__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-sm);
  margin-bottom: var(--space-md);

  h3 {
    flex-grow: 100;
  }

  @include breakpoint('sm') {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }
}

.Orders__statusButtons {
  flex-grow: 1;

  button {
    transition: all 0.1s;
    &:hover {
      transform: scale(1.05);
      text-shadow: rgba(0, 0, 0, 0.2) 1px  0 10px ;
    }
  }

}

.Orders__list {
  margin-bottom: var(--space-md);
}

.Orders__more {
  text-align: center;
}